.container {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.button {
  position: absolute;
  left: 0;
  top: 50px;
  background: none;
  padding: 7px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  @media (max-width: 500px) {
    top: 10px;
  }
}
