.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-top: 50px;
  justify-items: center;
}
.listElement {
  display: flex;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
